<div class="container-fluid">
    <div class="row d-flex justify-content-between mx-3">
        <div class="my-3">
            <p-button label="Home" icon="pi pi-home" routerLink="/E-Commerce/home"></p-button>
        </div>
        <div class="my-3">
            <p-toast />
            <i class="pi pi-heart-fill mr-3" style="font-size: 2rem" (click)="addProductToWishList()"></i>
            <p-button label="Add To Cart" severity="success" icon="pi pi-cart-plus" [raised]="true"
                (onClick)="addProductToCart()"></p-button>
        </div>
    </div>
    <div class="row ">
        <div class="col-4  ">
            <div class="large-images">
                <p-galleria [value]="product.images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions"
                    [circular]="true" [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="width: 100%; display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="small-images">
                            <img [src]="item" class="px-1" />
                        </div>
                    </ng-template>
                </p-galleria>
            </div>
        </div>
        <div class="col-4  d-flex justify-content-center align-items-center">
            <div class="product-details-column">
                <h5 class="brand">{{product.title}}</h5>
                <h4 class="mt-3">{{product.description }}</h4>
                <!-- <p>{{product.category.name}}</p> -->
                <p>Sold : {{product.sold}}</p>
                <p>Rate 4.5</p>
                <p>{{product.price}}EGP</p>
            </div>
        </div>
        <div class="col-4  d-flex justify-content-center align-items-center">
            <div class="shipping-details-column d-flex flex-column">
                <div class="mb-5 mt-4">
                    <h5 class="">1 Year warranty</h5>
                    <p class="mt-3">Free delivery on Lockers & Pickup Points
                    </p>
                    <p>Sold by TASHKYLTY
                    </p>
                </div>
                <div class=" d-flex mt-5 ">
                    <div class="ml-auto">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>