<div class="container-fluid">

    <div class="row row-for-allProducts pt-2">
        <div class="col-12">
            <div class="card">
                <p-table [value]="products.data.products" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
                    [rows]="5" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5,10,15]">
                    <ng-template pTemplate="caption">
                        <div class="row d-flex justify-content-between mx-1">
                            <div class="">
                                <p-button label="Remove All Items" (onClick)="removeLoggedUserCart()" severity="danger"
                                    icon="pi pi-times"></p-button>
                            </div>
                            <div class=" mt-1">
                                In total there are {{products.data.products ? products.data.products.length : 0 }}
                                products.
                            </div>
                            <div class="">
                                <p-button label="Home" icon="pi pi-home" routerLink="/E-Commerce/home"></p-button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="header">
                        <tr>

                            <th>Title</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr class="product-data" routerLink="/E-Commerce/productDetails/{{product.id}}">

                            <td>{{product.product.title}}</td>
                            <td><img [src]="product.product.imageCover" [alt]="product.name" width="100"
                                    class="shadow-4" /></td>
                            <td>{{product.price}}</td>
                            <td>{{product.product.category.name}}</td>

                            <td>
                                <div class="d-flex">

                                    <p-button (click)=" updateProductCount(product.product._id,product.count-1)"
                                        severity="success" icon="pi pi-minus" [style]="{width:'30px'}"
                                        [style]="{width:'30px', height:'20px'}"></p-button>
                                    <h6 class="mt-1 mx-2">{{product.count}}</h6>
                                    <p-button (click)=" updateProductCount(product.product._id,product.count+1)"
                                        severity="success" icon="pi pi-plus" [style]="{width:'30px'}" [raised]="true"
                                        [style]="{width:'30px', height:'20px'}"></p-button>
                                </div>
                            </td>
                            <td>
                                <p-button (onClick)="removeProduct(product.product._id)" severity="danger"
                                    icon="pi pi-times" size="small" [raised]="true"
                                    [style]="{width:'10px', height:'20px'}"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="d-flex justify-content-between">
                            <div class="flex align-items-center justify-content-between">
                                Total Price Is : {{totalPrice}} EGP
                            </div>

                            <div>
                                <p-button label="Checkout" [raised]="true" severity="info"
                                    [routerLink]="['/E-Commerce/address/',this.products.data._id]"></p-button>
                            </div>
                        </div>
                    </ng-template>

                </p-table>
            </div>

        </div>
    </div>
</div>