<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form [formGroup]=registerForm>


        <!-- <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="registerName">Name</label>
            <input type="text" id="registerName" class="form-control" />
        </div> -->

        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="name">name</label>
            <input formControlName="name" type="text" id="name" class="form-control" />
        </div>


        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="registerEmail">Email</label>
            <input formControlName="email" type="email" id="registerEmail" class="form-control" />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="registerPassword">Password</label>
            <input formControlName="password" type="password" id="registerPassword" class="form-control" />
        </div>

        <!-- Repeat Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="registerRepeatPassword">Repeat password</label>
            <input formControlName="rePassword" type="password" id="registerRepeatPassword" class="form-control" />
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="phone">phone</label>
            <input formControlName="phone" type="number" id="phone" class="form-control" />
        </div>


        <!-- Submit button -->
        <button type="" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4"
            (click)="submitRegisterForm()">Register</button>
        <a (click)="submitRegisterForm()">asd</a>

        <!-- Register buttons -->

    </form>

</div>