<div class="container-fluid">

    <div class="row row-for-allProducts pt-2">
        <div class="col-12">
            <div class="card">
                <p-table [value]="cartItems" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5,10,15]">
                    <ng-template pTemplate="caption">
                        <div class="row d-flex justify-content-between mx-1">
                            <div class="">
                                <p-button label="Remove All Items" severity="danger" icon="pi pi-times"></p-button>
                            </div>
                            <div class=" mt-1">
                                Your Orders is {{products.results}}
                            </div>
                            <div class="">
                                <p-button label="Home" icon="pi pi-home" routerLink="/E-Commerce/home"></p-button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>Is Delivered</th>
                            <th>Is Paid</th>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Created At</th>
                            <th>Payment Method</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-i="rowIndex">
                        <tr class="product-data">
                            <td>{{ data[i]?.id || '-' }}</td>
                            <td>{{ data[i]?.isDelivered ? 'Yes' : 'No'}}</td>

                            <td>{{ data[i]?.
                                isPaid
                                ? 'Yes' : 'No' }}</td>
                            <td>{{product.product.title}}</td>
                            <td><img [src]="product.product.imageCover
                                " [alt]="product.name" width="100" class="shadow-4" /></td>
                            <td>{{data[i].createdAt
                                }}</td>
                            <td>{{data[i].
                                paymentMethodType
                                }}</td>


                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="d-flex justify-content-between">
                            <div class="flex align-items-center justify-content-between">
                                Total Price Is : 2500 EGP
                            </div>
                        </div>

                    </ng-template>

                </p-table>
            </div>

        </div>
    </div>
</div>