<div class="container-fluid">
    <div class="row d-flex justify-content-between mx-3">
        <div class="my-3">
            <p-button label="Remove All Items" severity="danger" icon="pi pi-times"></p-button>
        </div>
        <div class="mt-4">
            <h5>
                In total there are {{products ? products.length : 0 }} products.

            </h5>

        </div>
        <div class="my-3">
            <p-button label="Home" icon="pi pi-home" routerLink="/E-Commerce/home"></p-button>
        </div>
    </div>
    <div class="row row-for-wishlist-products px-2 py-2 mx-1 mt-2">

        <div class="col-3 mt-2  d-flex px-2  justify-content-center align-items-center"
            *ngFor="let product of products | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: products.length }">
            <div class="each-card d-flex justify-content-center align-items-center"
                routerLink="/E-Commerce/productDetails/{{product.id}}">
                <p-card [header]="product.title | showThreeString" subheader="Card Subheader"
                    [style]="{ width: '360px' }">
                    <ng-template pTemplate="header">
                        <!-- <img alt="Card" [src]="product.image" [style]="{width:'100%' ,height:'200px'}" /> -->
                    </ng-template>
                    <p>
                        {{product.description|showSmallDescription}}
                    </p>
                    <ng-template pTemplate="footer">
                        <div class="d-flex  justify-content-center justify-content-between mx-5">
                            <button pButton pRipple label="Add To Cart" class="p-button-success"
                                icon="pi pi-cart-plus"></button>
                            <p-button severity="danger" icon="pi pi-times"></p-button>
                        </div>


                    </ng-template>
                </p-card>
                <!-- <p-card [header]=" product.title|showThreeString" [style]="{ width: '360px'}">
                    <ng-template [value]="images" pTemplate="header" let-item>
                        <img alt="Card" [src]="item" />
                    </ng-template>
                    <p>
                        {{product.description| showSmallDescription}}
                    </p>
                  

                </p-card> -->
            </div>
        </div>
    </div>
    <div class="row my-4 d-flex justify-content-center align-items-center">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

    </div>
</div>