<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand lobster-regular text-center" href="#">Tashkylty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <form class="d-flex search">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item  ">
                <a class="nav-link" href="#">English</a>
            </li>
            <div class="splitter d-lg-block d-none "></div>
            <li class="nav-item d-flex">
                <a class="nav-link  "><span class="link-text mx-1">Log in</span> <i class="pi pi-user"
                        style="font-size: 1rem"></i></a>

            </li>
            <li class="nav-item">
                <a class="nav-link "><span class="link-text mx-1">Wishlist </span>
                    <i class="pi pi-heart" style="font-size: 1rem"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link "><span class="link-text mx-1">Cart</span>
                    <i class="pi pi-cart-plus" style="font-size: 1rem"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>