.container-fluid {
    background-color: #f7dcb942;
}

.card {
    width: 50rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.phone input {
    width: 20rem;
    height: 2rem;

}

.shipping-col {
    height: 38rem;
}

.checkout {
    color: white;
    border: none;
    padding: 10px 40px;
    background-color: #2563EB;

    &:hover {
        background-color: #2052bf;
    }
}